@import './variables';
@import './sections/popup-youtube';
@import './sections/popup-local';
@import './sections/buttons';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-size: 2.4rem;
  width: 100%;
  min-height: 100vh;
}

.main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}