body {
  font-family: Arial, Helvetica, sans-serif;
}

.card-container {
  display: grid;
  grid-template-columns: 300px;
}

.flip-card {
  background-color: transparent;
  perspective: 1000px;
}

.flip-card__inner {
  display: grid;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card__inner {
  transform: rotateY(180deg);
}

.flip-card__front,
.flip-card__back {
  grid-area: 1/1;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card__back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
}

.flip-card__img {
  max-width: 300px;
}
