extends ../template
include ../sections/main-buttons
include ../sections/main-popup-youtube
include ../sections/main-popup-local

block content

    .buttons
        +main-buttons

    +main-popup-youtube
    +main-popup-local
