.popup-youtube {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.popup-youtube.open {
  opacity: 1;
  visibility: visible;
}
.popup-youtube.open .popup-youtube__body {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}
.popup-youtube__body {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 3rem 1rem;
  -webkit-transform: translate(0, 100%);
          transform: translate(0, 100%);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  opacity: 0;
}
.popup-youtube__content {
  position: relative;
  width: 72vw;
  height: auto;
  aspect-ratio: 7/4;
  background: black;
  border-radius: 0.5rem;
}
@media (max-width: 1024px) {
  .popup-youtube__content {
    width: 89.5vw;
    aspect-ratio: 23/16;
  }
}
@media (max-width: 560px) {
  .popup-youtube__content {
    width: 91.6vw;
    aspect-ratio: 33/23;
  }
}
.popup-youtube__close {
  position: fixed;
  top: 3rem;
  right: 3rem;
  background-color: #FF1E00;
  border-radius: 0.5rem;
  padding: 2rem;
  border: none;
  cursor: pointer;
}
@media (max-width: 1440px) {
  .popup-youtube__close {
    padding: 1.4rem;
  }
  .popup-youtube__close svg {
    width: 2.1rem;
    height: 2.1rem;
  }
}
@media (max-width: 1024px) {
  .popup-youtube__close {
    position: absolute;
    top: -7rem;
    right: 0;
  }
}
@media (max-width: 560px) {
  .popup-youtube__close {
    top: -6.5rem;
  }
}
.popup-youtube .player {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
}
.popup-youtube__controllers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
  position: absolute;
  width: 37rem;
  bottom: -5rem;
  left: calc(50% - 18.5rem);
}
@media (max-width: 767px) {
  .popup-youtube__controllers {
    width: 34rem;
    bottom: -4rem;
    left: calc(50% - 17rem);
  }
}
.popup-youtube .controller {
  background-color: #FF1E00;
  color: white;
  border: 0.2rem solid #FF1E00;
  padding: 1rem 2rem;
  cursor: pointer;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  border-radius: 0.7rem;
  font-size: 1.6rem;
}
.popup-youtube .controller:hover {
  background-color: white;
  color: #FF1E00;
}
@media (max-width: 767px) {
  .popup-youtube .controller {
    padding: 0.5rem 1rem;
    font-size: 1.4rem;
  }
}

.popup-local {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(18, 18, 18, 0.8);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.popup-local.open {
  opacity: 1;
  visibility: visible;
}
.popup-local.open .popup-local__content {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}
.popup-local__body {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 3rem 1rem;
}
.popup-local__content {
  position: relative;
  width: 68.1vw;
  height: auto;
  aspect-ratio: 131/74;
  border-radius: 0.5rem;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  opacity: 0;
  -webkit-transform: translate(0, 100%);
          transform: translate(0, 100%);
}
@media (max-width: 1024px) {
  .popup-local__content {
    width: 89.5vw;
    aspect-ratio: 69/50;
  }
}
@media (max-width: 560px) {
  .popup-local__content {
    width: 91vw;
    aspect-ratio: 11/8;
  }
}
.popup-local__close {
  position: absolute;
  top: -2.8rem;
  right: -2.8rem;
  background-color: transparent;
  border-radius: 0.5rem;
  padding: 0.6rem;
  border: none;
  cursor: pointer;
  z-index: 3;
}
.popup-local__close svg {
  width: 1.6rem;
  height: 1.6rem;
}
@media (max-width: 1024px) {
  .popup-local__close {
    top: -3.2rem;
    right: 7%;
  }
}
@media (max-width: 560px) {
  .popup-local__close {
    top: -2.8rem;
  }
}
.popup-local__substrate {
  width: 92%;
  height: 95%;
  background-color: #931706;
  position: absolute;
  z-index: -1;
  top: -4rem;
  right: -4rem;
}
@media (max-width: 1024px) {
  .popup-local__substrate {
    width: 88%;
    height: 92%;
    right: 6%;
  }
}
@media (max-width: 560px) {
  .popup-local__substrate {
    top: -3rem;
  }
}
.popup-local__video-content {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.popup-local__play {
  width: 10rem;
  height: 10rem;
  background-color: transparent;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: absolute;
  top: calc(50% - 5rem);
  left: calc(50% - 5rem);
  border: none;
  z-index: 1;
  opacity: 1;
  visibility: visible;
}
.popup-local__play.hidden {
  opacity: 0;
  visibility: hidden;
}
.popup-local__play:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
@media (max-width: 767px) {
  .popup-local__play {
    width: 6.2rem;
    height: 6.2rem;
    top: calc(50% - 3.1rem);
    left: calc(50% - 3.1rem);
  }
  .popup-local__play-img {
    width: 6.2rem;
    height: 6.2rem;
  }
}
.popup-local__controllers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
  position: absolute;
  width: 37rem;
  bottom: -5rem;
  left: calc(50% - 18.5rem);
}
@media (max-width: 767px) {
  .popup-local__controllers {
    width: 34rem;
    bottom: -4rem;
    left: calc(50% - 17rem);
  }
}
.popup-local .controller {
  background-color: #FF1E00;
  color: white;
  border: 0.2rem solid #FF1E00;
  padding: 1rem 2rem;
  cursor: pointer;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  border-radius: 0.7rem;
  font-size: 1.6rem;
}
.popup-local .controller:hover {
  background-color: white;
  color: #FF1E00;
}
@media (max-width: 767px) {
  .popup-local .controller {
    padding: 0.5rem 1rem;
    font-size: 1.4rem;
  }
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 3rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 2rem;
}
.buttons .button__youtube, .buttons .button__local {
  background-color: #FF1E00;
  color: white;
  border: 0.2rem solid #FF1E00;
  padding: 1.6rem 3rem;
  cursor: pointer;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  border-radius: 0.7rem;
  font-size: 2rem;
}
.buttons .button__youtube:hover, .buttons .button__local:hover {
  background-color: white;
  color: #FF1E00;
}
@media (max-width: 768px) {
  .buttons .button__youtube, .buttons .button__local {
    padding: 1rem 2rem;
    font-size: 1.4rem;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-size: 2.4rem;
  width: 100%;
  min-height: 100vh;
}

.main {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}