@font-face {
  font-family: "Proxima Nova Rg";
  src: url("../assets/fonts/ProximaNova-Regular.woff2") format("woff2"), url("../assets/fonts/ProximaNova-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Proxima Nova Bold";
  src: url("../assets/fonts/ProximaNova-Bold.woff2") format("woff2"), url("../assets/fonts/ProximaNova-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Proxima Nova SemiBold";
  src: url("../assets/fonts/ProximaNova-Semibold.woff2") format("woff2"), url("../assets/fonts/ProximaNova-Semibold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
.wrapper {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  margin: 0 auto;
}
.wrapper::after {
  content: "";
  width: 160rem;
  height: 48rem;
  background: rgba(255, 255, 255, 0.1);
  border: 0.1rem solid rgba(255, 255, 255, 0.2);
  border-radius: 2rem;
  bottom: -7rem;
  left: -6rem;
  z-index: -1;
  position: absolute;
}
@media (max-width: 1919px) {
  .wrapper::after {
    height: 25.4rem;
    bottom: -2rem;
    left: -2rem;
    width: 72.8rem;
  }
}
@media (max-width: 767px) {
  .wrapper::after {
    height: 25.8rem;
    bottom: 0rem;
    left: -1.6rem;
    width: 32rem;
  }
}

.swiper {
  padding-top: 5rem;
  margin: 0 auto;
  width: 163rem;
  position: relative;
  overflow: hidden;
}
@media (max-width: 1919px) {
  .swiper {
    padding-top: 8rem;
    width: 68.8rem;
  }
}
@media (max-width: 767px) {
  .swiper {
    padding-top: 3rem;
    padding-bottom: 8rem;
    overflow-y: visible;
    width: 28.8rem;
  }
}
.swiper-wrapper {
  height: 51rem;
  position: relative;
}
@media (max-width: 1919px) {
  .swiper-wrapper {
    height: 27rem;
  }
}
@media (max-width: 767px) {
  .swiper-wrapper {
    height: 19.3rem;
  }
}
.swiper-title {
  font-family: "Proxima Nova SemiBold", sans-serif;
  font-size: 9.6rem;
  line-height: 100%;
  text-transform: capitalize;
  margin-bottom: 8rem;
}
@media (max-width: 1919px) {
  .swiper-title {
    font-size: 6.4rem;
    margin-bottom: 4.4rem;
  }
}
@media (max-width: 767px) {
  .swiper-title {
    font-size: 4.8rem;
    margin-bottom: 1.2rem;
  }
}
.swiper-slide {
  height: 100%;
  width: 33.5rem !important;
  height: 43rem;
  border-radius: 2rem;
  overflow: hidden;
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 1919px) {
  .swiper-slide {
    width: 23.8rem !important;
    height: 20rem;
  }
}
@media (max-width: 767) {
  .swiper-slide {
    width: 28.8rem !important;
    height: 19.3rem;
  }
}
.swiper-slide-active {
  width: 91rem !important;
  height: 100%;
}
@media (max-width: 1919px) {
  .swiper-slide-active {
    width: 42.6rem !important;
  }
}
@media (max-width: 767px) {
  .swiper-slide-active {
    width: 28.8rem !important;
  }
}
.swiper-slide-active .swiper-slide-shadow {
  height: 32%;
  bottom: 0;
  left: 0;
  top: auto;
}
.swiper-slide-active .swiper-slide-info {
  gap: 1rem;
}
.swiper-slide-active .swiper-slide-info-name {
  font-size: 3.6rem;
}
@media (max-width: 1919px) {
  .swiper-slide-active .swiper-slide-info-name {
    font-size: 2.4rem;
  }
}
@media (max-width: 767px) {
  .swiper-slide-active .swiper-slide-info-name {
    font-size: 2rem;
  }
}
.swiper-slide-video {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top center;
     object-position: top center;
}
.swiper-slide-shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.6)));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
}
.swiper-slide-btn {
  width: 8rem;
  height: 8rem;
  padding: 2rem 1.7rem 2rem 2.7rem;
  border-radius: 50%;
  position: absolute;
  top: calc(50% - 4rem);
  left: calc(50% - 4rem);
  border: none;
  background: rgba(0, 0, 0, 0.5);
  position: relative;
  color: #F2F2F2;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  opacity: 1;
  visibility: visible;
}
@media (max-width: 1919px) {
  .swiper-slide-btn {
    width: 4rem;
    height: 4rem;
    padding: 1rem 0.9rem 1rem 1.4rem;
    top: calc(50% - 2rem);
    left: calc(50% - 2rem);
  }
  .swiper-slide-btn svg {
    width: 1.7rem;
    height: 1.9rem;
  }
}
.swiper-slide-btn.played {
  opacity: 0;
  visibility: hidden;
}
.swiper-slide-btn:hover {
  color: #05DB6F;
}
.swiper-slide-btn:hover::after {
  opacity: 0;
}
.swiper-slide-btn::after {
  content: "";
  display: block;
  width: 50%;
  height: 100%;
  border-radius: 0 100% 100% 0/0 50% 50% 0;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.swiper-slide-info {
  position: absolute;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  bottom: 0;
  left: 0;
  padding: 2.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5rem;
  text-transform: capitalize;
}
@media (max-width: 1919px) {
  .swiper-slide-info {
    padding: 1.6rem;
  }
}
@media (max-width: 767px) {
  .swiper-slide-info {
    padding: 1rem;
  }
}
.swiper-slide-info-name {
  font-family: "Proxima Nova Bold", sans-serif;
  font-size: 2.4rem;
  line-height: 120%;
}
@media (max-width: 1919px) {
  .swiper-slide-info-name {
    font-size: 1.8rem;
  }
}
@media (max-width: 767px) {
  .swiper-slide-info-name {
    font-size: 2rem;
  }
}
.swiper-button-next, .swiper-button-prev {
  position: static;
  width: 6rem;
  height: 6rem;
  background-color: transparent;
  border: 0.1rem solid rgba(255, 255, 255, 0.8);
  padding: 1.8rem;
  color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 1919px) {
  .swiper-button-next, .swiper-button-prev {
    width: 5rem;
    height: 5rem;
    padding: 1.8rem;
  }
}
.swiper-button-next::after, .swiper-button-prev::after {
  display: block;
  width: 2.4rem;
  height: 2.4rem;
}
@media (max-width: 1919px) {
  .swiper-button-next::after, .swiper-button-prev::after {
    width: 1.1rem;
    height: 1.8rem;
  }
}
.swiper-button-next:hover, .swiper-button-prev:hover {
  background-color: #05DB6F;
}
.swiper-button-next:active, .swiper-button-prev:active {
  background-color: rgb(22, 164, 93);
}
.swiper-button-next::after {
  content: "";
  background: no-repeat center/cover url("../assets/images/right-arrow.svg");
}
.swiper-button-prev::after {
  content: "";
  background: no-repeat center/cover url("../assets/images/left-arrow.svg");
}
.swiper-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.6rem;
  position: absolute;
  bottom: 0;
  right: 28.4rem;
}
@media (max-width: 1919px) {
  .swiper-buttons {
    right: 0;
    gap: 0.6rem;
  }
}
@media (max-width: 767px) {
  .swiper-buttons {
    bottom: 2rem;
    right: auto;
    left: 0;
  }
}
.swiper-pagination {
  position: static;
  margin-left: 15rem;
  gap: 1.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1919px) {
  .swiper-pagination {
    margin-left: 3.4rem;
    gap: 1rem;
  }
}
@media (max-width: 767px) {
  .swiper-pagination {
    margin-left: 9rem;
  }
}
.swiper-pagination-bullet {
  width: 1.2rem;
  height: 1.2rem;
  border: 0.1rem solid white;
  background-color: transparent;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 1919px) {
  .swiper-pagination-bullet {
    width: 1rem;
    height: 1rem;
  }
}
.swiper-pagination-bullet-active, .swiper-pagination-bullet:hover {
  background-color: white;
  opacity: 1;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Proxima Nova Rg", sans-serif;
  font-size: 1.8rem;
  color: white;
  width: 100%;
  min-height: 100vh;
  position: relative;
  background-color: black;
}
@media (max-width: 767px) {
  body {
    font-size: 1.6rem;
  }
}

.main {
  width: 100%;
  height: 100%;
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}