include ../partials/button

mixin main-popup-youtube()
    .popup-youtube
        .popup-youtube__body
            .popup-youtube__content
                button.popup-youtube__close
                    include ../../assets/images/close.svg
                .player#player
                .popup-youtube__controllers
                  +button('controller yt__plus10', '+10s')
                  +button('controller yt__plus20', '+20s')
                  +button('controller yt__minus10', '-10s')
                  +button('controller yt__minus20', '-20s')