mixin main-popup-youtube()
    .popup-youtube
        .popup-youtube__body
            .popup-youtube__content
                button.popup-youtube__close
                    include ../../assets/images/close.svg
                .player#player