.splide {
  padding: 7.8rem 0;
  position: relative;

  &__track {
    overflow: visible;
  }

  &__slide {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12.4rem;
    @include slider-gap;

    &-info {
      width: 60.5rem;
      flex-shrink: 0;

      &-title {
        font-size: 4.8rem;
        margin-bottom: 5.5rem;
      }

      &-link {
        font-size: 1.8rem;
        color: #ffff;
        padding: 1.6rem 3.2rem;
        background-color: $blue;
        text-decoration: none;
        transition: all 0.3s ease-in-out;
        border: 0.1rem solid transparent;

        &:hover {
          color: $blue;
          border-color: $blue;
          background-color: #ffff;
        }
      }
    }

    &-img {
      flex-shrink: 0;
    }
  }

  &__arrows {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    background-color: #ffff;
    width: 23.3rem;
    position: absolute;
    bottom: 7.8rem;
    left: calc(50% - 23.3rem / 2);

    &-page {
      color: $blue;
      font-size: 3.2rem;
    }

    .splide__arrow {
      color: $blue;
      cursor: pointer;
      border: none;
      background-color: transparent;
      transition: all 0.3s ease-in-out;

      &:disabled {
        color: $gray;

        &:hover {
          color: $gray;
        }
      }

      &:hover {
        color: darken($blue, 10%);
      }
    }
  }

  &__pagination {
    display: none;
  }
}