.text-content {
  font-family: "Geometria", sans-serif;
  font-size: 18px;
  color: rgba(15, 15, 40, 0.6);
}
@media (max-width: 768px) {
  .text-content {
    font-size: 16px;
  }
}
.text-content p:not(:last-child) {
  margin-bottom: 30px;
}
.text-content_white {
  color: rgba(255, 255, 255, 0.8);
}